<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bolang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,291},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,269},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,247},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang13.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,225},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang14.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,203},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang15.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,182},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang16.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,181},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang17.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,181},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang18.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,181},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang19.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,181},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang20.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,181},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang21.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,181},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang22.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,181},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang23.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,181},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang24.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,181},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang27.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,181},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang28.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,181},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang29.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang30.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,182},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,182},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,357},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,335},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>bolang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,313},{177,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,20}}</string>
                <key>sourceSize</key>
                <string>{177,20}</string>
            </dict>
            <key>tan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{178,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,8}}</string>
                <key>sourceSize</key>
                <string>{178,8}</string>
            </dict>
            <key>tan10.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{178,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,8}}</string>
                <key>sourceSize</key>
                <string>{178,8}</string>
            </dict>
            <key>tan11.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{178,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,8}}</string>
                <key>sourceSize</key>
                <string>{178,8}</string>
            </dict>
            <key>tan12.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{178,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,8}}</string>
                <key>sourceSize</key>
                <string>{178,8}</string>
            </dict>
            <key>tan13.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{178,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,8}}</string>
                <key>sourceSize</key>
                <string>{178,8}</string>
            </dict>
            <key>tan14.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{178,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,8}}</string>
                <key>sourceSize</key>
                <string>{178,8}</string>
            </dict>
            <key>tan15.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{178,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,8}}</string>
                <key>sourceSize</key>
                <string>{178,8}</string>
            </dict>
            <key>tan16.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{178,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,8}}</string>
                <key>sourceSize</key>
                <string>{178,8}</string>
            </dict>
            <key>tan17.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{178,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,8}}</string>
                <key>sourceSize</key>
                <string>{178,8}</string>
            </dict>
            <key>tan18.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{178,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,8}}</string>
                <key>sourceSize</key>
                <string>{178,8}</string>
            </dict>
            <key>tan19.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{177,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,26}}</string>
                <key>sourceSize</key>
                <string>{177,26}</string>
            </dict>
            <key>tan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,379},{162,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,12}}</string>
                <key>sourceSize</key>
                <string>{162,12}</string>
            </dict>
            <key>tan20.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{178,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,21}}</string>
                <key>sourceSize</key>
                <string>{178,21}</string>
            </dict>
            <key>tan21.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{178,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,21}}</string>
                <key>sourceSize</key>
                <string>{178,21}</string>
            </dict>
            <key>tan22.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{178,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,21}}</string>
                <key>sourceSize</key>
                <string>{178,21}</string>
            </dict>
            <key>tan23.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{178,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,20}}</string>
                <key>sourceSize</key>
                <string>{178,20}</string>
            </dict>
            <key>tan24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,21}}</string>
                <key>sourceSize</key>
                <string>{178,21}</string>
            </dict>
            <key>tan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{164,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,19}}</string>
                <key>sourceSize</key>
                <string>{164,19}</string>
            </dict>
            <key>tan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,379},{162,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,12}}</string>
                <key>sourceSize</key>
                <string>{162,12}</string>
            </dict>
            <key>tan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,470},{177,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,14}}</string>
                <key>sourceSize</key>
                <string>{177,14}</string>
            </dict>
            <key>tan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{177,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,14}}</string>
                <key>sourceSize</key>
                <string>{177,14}</string>
            </dict>
            <key>tan7.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,182},{177,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,11}}</string>
                <key>sourceSize</key>
                <string>{177,11}</string>
            </dict>
            <key>tan8.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{178,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,8}}</string>
                <key>sourceSize</key>
                <string>{178,8}</string>
            </dict>
            <key>tan9.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{178,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,8}}</string>
                <key>sourceSize</key>
                <string>{178,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>progress_bolang.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae2943661a1d30f15c042e5291a1fc27$</string>
            <key>textureFileName</key>
            <string>progress_bolang.png</string>
        </dict>
    </dict>
</plist>
